::-webkit-scrollbar {
    width: 0px;
}

.font-family {
    font-family: STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif;
}

.margin-top {
    margin-top: 5px;
    font-size: 20px;
}

.platform-android .bar .title {
    font-size: 25px;
    line-height: 44px;
}

p span {
    font-size: 8px;
}

p img {
    width: 100%;
}

.item h2 {
    margin: 15px 0 2px 0;
    font-size: 17px;
    font-weight: 400;
}
